<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="edu.spring.travel06.ThemeReviewMapper">
	
	<insert id="insert">
		insert into ${thema_review}
			(${themaNo}, ${themaReviewContent}, ${userNickname})
			values (#{themaNo}, #{themaReviewContent}, #{userNickname})
	</insert>
	
	
	<select id="select_all" resultType="ThemeReviewVO">
		select * from ${thema_review}
		where ${themaNo} = #{themaNo}
		order by ${themaNo}
	</select>
	
	
	<select id="select_by_reviewNo" resultType="ThemeReviewVO">
		select * from ${thema_review}
		where ${themaReviewNO} = #{themaReviewNO}
		
	</select>
	
	<select id="select_by_userNickName" resultType="ThemeReviewVO">
		select * from ${thema_review}
		where ${userNickname} = #{userNickname}
		
	</select>
	
	

	<update id="update">
		update ${thema_review}
		set ${themaReviewContent} = #{themaReviewContent}
		where ${themaReviewNO} = #{themaReviewNO}
	</update>
	
	<!-- 댓글 작성자에 따라 update -->
	<update id="update_by_userNickName">
		update ${thema_review}
		set ${userNickname} = #{newNickname}
		where ${userNickname} = #{userNickname}
	</update>
	
	
	
	
	<delete id="delete">
		delete from ${thema_review}
		where ${themaReviewNO} = #{themaReviewNO}
	</delete>
	
	<!-- 댓글 페이징 처리 -->
    <select id="listPaging" resultType="ThemeReviewVO">
      select 
      b.${themaReviewNO},  b.${themaNo}, b.${userNickname}, 
      b.${themaReviewContent}, b.${themaReviewCdate}
      from (
      		select rownum rn, a.*
      		from (
      			select * from ${thema_review}
      			where ${themaNo} = #{themaNo}
      			order by ${themaReviewNO}
      			)a
      		)b
      		where rn between #{start} and #{end}
      
      
   </select> 
   
   <!-- 댓글 수 -->
   <select id="countReviews">
      select count(${themaNo})
      from ${thema_review}
      where ${themaNo} = #{themaNo}
   </select>

</mapper>